
.header {
   background: url("../assets/truck.png");
background-size: cover;
background-position: 0px;
   background-repeat: no-repeat;

  
    color: white;
    padding :15px;
    justify-content: space-between;
    gap: 15px;
    

  }
  img[alt=Logo]{
    width: 5%;
  }
  
 
  
  .header .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
  }
  
