.vehicle-container{
    background: #0000009f;
    color: red;
}
.vehicle-list{

    justify-content: center;
    gap:60px
}
.card > *{
    margin-left: 10px;
}

.vehicle-list-container {
  height: 60vh;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  overflow-y: auto;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.vehicle-list {
  
  max-height: 100%;
  overflow-y: auto;
}

/* Styling for individual vehicle cards */
.card {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 20px;
}

.card h3 {
  font-size: 16px;

}

.card p {
  font-size: 12px;
}

@media (max-width: 768px) {
    .connection{
      display: none;
  }
  }
  
  @media (max-width: 480px) {
    .connection{
        display: none;
    }
  }
  
  
