

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

.row {
  position: relative;
}


.col-md-9 {
  z-index: 1;
}


.car-icon{
  display: none;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-toggle {
  position: relative;
  top:-8px;
  left: 0;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}

.google-map{
  height: 86%;
}


@media (max-width: 768px){
  .car-icon{
    display: block;
  }
 
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 2;
  }
  .sidebar.open {
    transform: translateX(0);
  }
   
}

